<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Documents</title>
</head>
<body>
    <ul>
            <% for(let product of prods) {%>
                <li>
                    <p><span><%- product.name %></span> - <span><%- product.price %></span> - <span><%- product.description %></span><a href="/admin/edit-product/<%- product._id %>" >Edit</a><a href="/admin/delete-product/<%- product._id %>">Delete</a></p>
                </li>
            <%}%>
    </ul>
</body>
</html>